<footer>
<div class="mt-5 mb-5 pt-2.5 text-center text-[80%]">
    <span class="px-2.5"><a href="/about/advisoryboard/">advisory board</a></span>
    <span class="px-2.5"><a href="/about/references/">references</a></span>
    <span class="px-2.5"><a href="/about/contactus/">contact</a></span>
</div>
</footer>